section(class="bg-slate-800")
  div(class="relative container custom-container h-[700px] md:h-[500px] lg:h-[700px] flex justify-center flex-col md:flex-row md:justify-between")
    div(class="self-center")
      h1(class="text-6xl xl:text-8xl font-bold text-[#FFD444]") An easy
      h2(class="text-5xl text-pink font-bold mt-2 text-white") Way to make Birria
      button(class="btn mt-8 py-3 px-8 text-4xl font-bold bg-[rgb(0,146,69)] text-white rounded-lg") Buy now
    div(class="md:absolute md:w-[480px] lg:w-[640px] xl:w-[740px] md:bottom-0 right-0")
      img(src="./img_pack_and_tacos.png" alt="Rancho Bombs pack")
