section(class="bg-white")
  div(class="container custom-container")
    h2(class="text-6xl font-bold") A Taste of Home
    div(class="mt-12 w-full h-[700px]")
      div(class="splide h-full")
        div(class="splide__track h-full")
          ul(class="splide__list")
            li(class="splide__slide")
              div(class="h-full grid grid-cols-3 grid-rows-3 gap-4")

                div(class="row-span-3 rounded-2xl overflow-hidden")
                  img(class="h-full w-full object-cover" src="https://the2spoons.com/wp-content/uploads/2020/07/C6AE872A-AC9E-4C26-B368-BCCF3F4F3D37-1536x1023.jpeg", alt="Imagen 1")
                
                div(class="rounded-2xl overflow-hidden")
                  img(class="h-full w-full object-cover" src="https://www.gastrolabweb.com/u/fotografias/m/2020/11/29/f1280x720-5646_137321_5050.jpg", alt="Imagen 2")
                
                div(class="h-full w-full overflow-hidden" class="row-span-2 col-span-2 col-start-2 row-start-2 rounded-2xl")
                  img(class="h-full w-full object-cover" src="https://the2spoons.com/wp-content/uploads/2020/07/C6AE872A-AC9E-4C26-B368-BCCF3F4F3D37-1536x1023.jpeg", alt="Imagen 1")
                
                div(class="col-start-3 row-start-1 rounded-2xl overflow-hidden")
                  img(class="h-full w-full object-cover" src="https://i.pinimg.com/originals/9b/7e/a0/9b7ea0bc8dc365995a723e1075bc8bf7.jpg", alt="Imagen 3")

            li(class="splide__slide")
              div
                img(src="https://the2spoons.com/wp-content/uploads/2020/07/C6AE872A-AC9E-4C26-B368-BCCF3F4F3D37-1536x1023.jpeg", alt="Imagen 1")
            li(class="splide__slide")
              div
                img(class="h-full w-full object-cover" src="https://www.gastrolabweb.com/u/fotografias/m/2020/11/29/f1280x720-5646_137321_5050.jpg", alt="Imagen 2")
            li(class="splide__slide")
              div(class="h-full overflow-hidden")
                img(src="https://i.pinimg.com/originals/9b/7e/a0/9b7ea0bc8dc365995a723e1075bc8bf7.jpg", alt="Imagen 3")
