doctype html
html(lang="en")
  include components/head.pug
  include components/header.pug
  include components/cover.pug
  include components/how_does_it_work.pug
  include components/slider_imgs.pug
  include components/footer.pug
